@import 'variables/fonts.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --width: 1920;
    --height: 1080;
    --index: calc((100vw / var(--width)) + (100vh / var(--height)));
}

html,
body {
    font-size: calc(var(--index) * 5);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.page {
    position: relative;
}
